 body {
            margin: 0px;
            padding: 0px;
            background-image: url("/img/abs.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 15px;
        }
        .navbar li a{
            color: white;
            text-decoration: none;
            padding: 20px;
        }
        .navbar li a:hover, .navbar li a:active{
            text-decoration: underline;
            color: gray;
            
        }
        .left img{
            width: 76px;
            filter: invert(100%);
        }
        #div{
            color: white;
        }
        .mid {
        display: block;
        width: 36%;
        margin: 29px auto;
        /* border: 2px solid green; */
    }
    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 60px;
        top: 20px;
    }
    .right {
        position: absolute;
        right: 34px;
        top: 43px;
        display: inline-block;
        /* border: 2px solid yellow; */
    }
        
    .left div {
        line-height: 15px;
        font-size: 21px;
        text-align: center;
        color: white;
    }
    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(31, 30, 30);
    }
.container
{
    color: white;
    border: white 2px solid;
    margin: 90px 874px;
    padding: 5px;
    width: 26%;
}
.form-group input{
    
    font-family: sans-serif;
        text-align: center;
        display: block;
        width: 330px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 15px;
        border-radius: 8px;
        


}
 .container h1{
    text-align: center;
}
.container button {
        display: block;
        width: 330px;
        margin: 20px auto;
    }
    footer{
        color: white;
        font-size: 14px;
    }